# IGNORE
oc-admin/*
oc-includes/
oc-content/uploads/
oc-content/downloads/
oc-content/*.php
oc-content/plugins/*.php
oc-content/themes/*.php
oc-content/themes/bender
oc-content/themes/osclasswizards/
oc-content/languages/*.php
favicon.ico
robots.txt
.htaccess
/*.php
oc-content/themes/raito_teema/sass
oc-content/themes/raito_teema/TEMP
oc-content/plugins/profile_picture/images/*


# ALLOW
!oc-admin/themes/
!oc-admin/gui/
!oc-admin/style/
!oc-content/plugins/profile_picture/images/default/